body{
	margin:0;
}

@font-face {
	font-family: Sora;
	src: url(media/fonts/static/Sora-Regular.ttf);
}

@font-face {
	font-family: Sansita;
	src: url(media/fonts/static/SansitaSwashed-Light.ttf);
}

.texto1, .texto2, .item, .containerfooter a {
	font-family: Sora;
}

.wrapper{
	width: 100%;
	height: auto;
	display: grid;
	grid-template: repeat(1, 1fr) / repeat(5, 1fr);
	grid-gap: 0px;
}

.item{
	width: 100%;
	height: 8vh;
	background: #02cd9e;
	color: white;
	display: grid;
	justify-content: center;
	align-items: center;
	font-size: 1rem;
}	

.item:hover{
	background-color: white;
	color: black;
	display: flex;
}

.itemimg{
	grid-column: 1;
	grid-row: 1;
	background-image: url('media/img/logo.png');
	background-repeat: no-repeat;
	background-size: contain;
    background-position: center;  
}

.item1{
	grid-column: 2;
}

.item2{
	grid-column: 3;
}

.item3{
	grid-column: 4;
}

.item4{
	grid-column: 5; 
}

.container{
	width: 100%;
	height: auto;
	display: grid;
	grid-template: repeat(2, 1fr) / repeat(2, 1fr);
	margin-top: 2.5vh;
	margin-bottom: 2.5vh;
	gap: 5vh;
}

.texto1,.texto2 {
	background-color: #f5f5f5;
	text-align: center;
	position: relative;
	align-items: center;
}

.barraverde {
	width: 100%;
	height: 0.5vh;
	background-color: #02cd9e;
	position: absolute;
	bottom: 0;
}

.barragris {
	width: 50%;
	height: 0.25vh;
	background-color: grey;
	top: 15%;
	position: absolute;
	margin-left: 2%;
}

.lorem {
	font-family: Sansita;
	position: absolute;
	top: 20%;
	font-size: 1.5rem;
	color: grey;
}

.titulo {
	position: absolute;
	font-size: 1.25rem;
	top: 0;
	margin-left: 2%;
	float: left;
}
.texto1{
	grid-column: 1;
	grid-row: 1;
	margin-left: 1.5vw;
}

.texto2{
	grid-column: 2;
	grid-row: 2 ;
	margin-right: 1.5vw;
}

.img1,.img2 {
	background-repeat: no-repeat;
	background-size: contain;
	height:35vh;
	background-position: center;
}

.containerfooter {
	background-color: #02cd9e;
	width: 100%;
	height: 12vh;
	display: grid;
	grid-template: repeat(3, 1fr) / repeat(3, 1fr);
	grid-gap: 0;
}

.containerfooter a {
	color: white;
	font-size: .8rem;
}
	
.containerasidesleft {
	background-color: #02cd9e;
	grid-template: repeat(3, 1fr) / repeat(1, 1fr);
	display: grid;
	float: left;
	top: 8vh;
	height: 92vh;
	width: 15vw;
	position: absolute;
}

.containerasidesright {
	background-color: #02cd9e;
	grid-template: repeat(3, 1fr) / repeat(1, 1fr);
	display: grid;
	float: right;
	left: calc(100vw - 15vw);
	top: 8vh;
	height: 92vh;
	width: 15vw;
	position: absolute
}

.containerasidesleft a,.containerasidesright a {
	color: white;
	text-align: center;
	align-content: center;
	padding-left: 2%;
}

.btn {
	font-family: Sora;
	margin: 20%;
	background-color:#f5f5f5;
	border: 0px ;
	transition: ease;
	transition-duration: 0.5s;
	transition-delay: 0.1s;
}

.btn:hover {
	transform: scale(1.1);	
}

.btn2{
font-size: Sora;
margin: 20%;
background-color: #f5f5f5;
border: 0px;
}

.btn2:active {
	background-color: #02cd9e;
	color: white;
}

.btn3 {
	margin: 20%;
	background-color: #f5f5f5;
	border: 0px;
	transition: 0.5s;
}

.btn3:hover {
	box-shadow:5px 5px gray;
	transition: 0.5s;
}

.a1,.a2,.a3{
	text-align: left;
	padding-left: 2%;
	grid-column: 1;
}

.a1 {
	grid-row: 1; 
}

.a2 {
	grid-row: 2; 
}

.a3 {
	grid-row: 3;
}

.footimg {
   grid-column: 2;
   grid-row: 1/4;
   background-image: url('media/img/logo.png');
   background-repeat: no-repeat;
   background-size: contain;
   background-position: center;
}

.a4,.a5,.a6{
	text-align: right;
	padding-right: 2%;
	grid-column: 3;
}

.a4 {
	grid-row: 1; 
}

.a5 {
	grid-row: 2;
}

.a6 {
	grid-row: 3;
}

.hover-left-right1,.hover-left-right2 {
	justify-content: center;
	align-items: center;
	width:40% ;
	height: 15%;
	border-radius: 0px;
	color: black;
	border: 1px solid black;
	border-left: 0.5em solid black;
	cursor: pointer;
	overflow:hidden;
	position:absolute;
	display: flex;
	font-size: 1.25vw;
}
  
.hover-left-right1 {
	top: 75%;
	left: 5%;
}

.hover-left-right2 {
	top: 75%;
	left: 55%;
}
  
.hover-left-right1::before,.hover-left-right2::before {
content: "";
position: absolute;
left: -100%;
width: 100%;	
height: 100%;
background-color: black;
transition: left 0.3s ease;
}
  
.hover-left-right1:hover::before,.hover-left-right2:hover::before {
left: 0;
}


@media only screen and (min-width: 960px) {
.ball {
	display: none;
}

.containerasidesleft,.containerasidesright {
	display: none;
}

.zoomimg {
	width: 90%;
	transition: transform 0.5s ease;
	cursor: zoom-in;
}

.zoomimg:hover {
	transform: scale(1.1); /* Ajusta el factor de escala según tus necesidades */
}

.img1{
	grid-column: 2;
	grid-row: 1;
	background-image: url('media/img/foto1.png');
	margin-right: 1.5vw;
}

.img2{
	grid-column: 1;
	grid-row: 2; 
	background-image: url('media/img/foto1.png');
	margin-left: 1.5vw;	
}
}

@media only screen and (max-width: 960px) {
	.container{
		grid-template: repeat(4, 1fr) / repeat(1, 1fr);
		gap: 2vh;
	}
	
	.texto1,.texto2 {
		height: 20vh;
		margin-left: 25%;
        margin-right: 25%;
	}
	
	.lorem {
		font-size: 1rem;
	}

	.texto1{
		grid-column: 1;
		grid-row: 1;
	}
	
	.texto2{
		grid-column: 1;
		grid-row: 3;
	}
	
	.img1,.img2 {
		height:20vh;
	}

	
	.img1{
		grid-column: 1;
		grid-row: 2;
		background-image: url('media/img/foto3.jpg');
		margin-right: 1.5vw;
	}
	
	.img2{
		grid-column: 1;
		grid-row: 4; 
		background-image: url('media/img/foto4.jpg');
		margin-left: 1.5vw;	
	}
	
	.containerfooter {
	display: none;
	}

	.hover-left-right1,.hover-left-right2 {
		display: none;
	}
}