@font-face {
  font-family: Fuente1;
  src: url(media/static/Sora-Regular.ttf);
}

* {
  font-family: Fuente1;
}

@font-face {
  font-family: Fuente2;
  src: url(media/static/SansitaSwashed-Light.ttf);
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.logo1,.logo2 {
  background: url('media/logo.png') no-repeat center center;
  background-size: contain;
  width:4%;
  height: 7%;
  position: absolute;
}

.logo1 {
  top: 0%;
  left:5%;  
}

.logo2 {
  top: 92.5%;
  left: 48%;
}

.navbar {
  background-color: #02cd9e;
  height: 7%;
  position: absolute;
  width: 100%;
  justify-content: center;
  display: flex;
}

.navbar a {
  font-size: 1.6vw;
  color: white;
  padding-left: 5.64%;
  padding-right: 5.64%;
  padding-top: 1%;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #ffffff;
  color: black;
}

.div1,.div2,.div3,.div4 {
  position: absolute;
  display: block;
  background-color: #f5f5f5;
  width: 44.44%;
  height: 30.79%;
}

.div1 {
  top: 8.5%;
  left: 1.68%;
}

img {
  position: absolute;
}

.div2 {
  top: 11.5%;
  left: 49%;
  background-color: #ffffff;
  background-image: url('media/foto1.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.div3 {
  top: 52.14%;
  left: 1.68%;
  background-color: #ffffff;
  background-image: url('media/foto2.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.div4 {
  top: 52.14%;
  left: 49%;
}

.textodiv1 {
  position: absolute;
  left: 3%;
  bottom: 87.5%;
  font-size: 1.7vW;
  color: #808183;
}

.textodiv2 {
  font-family: Fuente2;
  position: absolute;
  left: 4.5%;
  top: 15%;
  color: #808183;
  text-align: center;
  font-size: 1.7vw;
  padding-right: 4.5%;
}

.divBarra1 {
  position: absolute;
  display: flex;
  top: 13%;
  left: 3%;
  background-color:#808183;
  width: 45%;
  height: 0.5%;
}
.divBarra2 {
  position: absolute;
  display: flex;
  top: 100%;
  background-color:#02cd9e;
  width: 100%;
  height: 1.5%;
}

button {
  padding: 0px 0px;
  cursor: pointer;
  position: absolute;
  width:39.36% ;
  height: 15.99%;
}

.button-container {
  position: absolute;
  gap: 0px;
  justify-content: center;
  width:39.36% ;
  height: 15.99%;
}

.hover-left-right1,.hover-left-right2 {
  justify-content: center;
  align-items: center;
  width:39.36% ;
  height: 15.99%;
  border-radius: 0px;
  color: black;
  background: #f5f5f5;
  border: 1px solid black;
  border-left: 0.5em solid black;
  cursor: pointer;
  overflow:hidden;
}

.hover-left-right1 {
  position: absolute;
  display: flex;
  top: 74.45%;
  left: 3.68%;
  font-size: 1.7vw;
}

.hover-left-right2 {
  position: absolute;
  display: flex;
  top: 74.45%;
  left: 56.59%;
  font-size: 1.7vw;
}

.hover-left-right1::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
  transition: left 0.3s ease;
}

.hover-left-right2::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
  transition: left 0.3s ease;
}

.hover-left-right1:hover::before {
  left: 0;
}

.hover-left-right2:hover::before {
  left: 0;
}

.divfooter {
  position: absolute;
  background-color: #02cd9e;
  width: 100%;
  height: 14.4%;
  top: 85.65%;
}

.divfooter a {
  position: absolute;
  color: #ffffff;
  font-size: 1vw;
}

.a1 {
  left: 2%;
  top: 34%;
}

.a2 {
  left: 2%;
  top: 54%;
}

.a3 {
  left: 2%;
  top: 74%;
}

.a4 {
  left: 90%;
  top: 34%;
}

.a5 {
  left: 90%;
  top: 54%;
}

.a6 {
  left: 90%;
  top: 74%;
}