body, html {
    margin: 0;  
    height: 100%;
  }

  @font-face {
    font-family: Pixel;
    src: url(fonts/Round9x13.ttf);
  }

  * {
    font-family: Pixel;
  }
  .bg {
    background-image: url(images/colinas.png);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
  }

  .contenido {
    position: relative;
    z-index: 1;
  }

  button {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .inicio,.guia {
    background-color: #023e8a;
    border-radius: 50px;
    color: white;
    text-align: center;
    width: 6vw;
    height: 3vw;
    margin-top: 5%;
    border: 0;
  }

  .inicio:hover,.guia:hover{
    transition : 0.5s;
    background-color: #fff;
    color: #0066cc;
    border: solid 2px #0066cc;
    }

  .guia {
    width: 6vw;
    height: 3vw;
    margin-top: 9%;
  }

  .suelo {
    bottom: 0; 
    position: absolute;
    width: 100%;
    height: 7.5%;
    background-image: url(Assets/ladrilloentero.png);;
    background-repeat: repeat;
    background-size: contain;
    z-index: 4;
  }

  .cielo, .cielo1, .cielo2 {
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 3;
    top: 0;
    width: 100%;
    height: 100%;
}

  .cielo {
    background-image: url(Assets/cielo0.png);
    animation: parallaxIzquierda 15s infinite alternate;
  }

  .cielo1 {
    background-image: url(Assets/cielo1.png);
    animation: parallaxDerecha 15s infinite alternate;
  }

  .cielo2 {
    background-image: url(Assets/cielo2.png);
    animation: parallaxIzquierda 15s infinite alternate;
  }

  @keyframes parallaxIzquierda {
    0% {
        transform: translateX(20px);
    }
    100% {
        transform: translateX(-20px);
    }
}

@keyframes parallaxDerecha {
  0% {
      transform: translateX(-20px);
  }
  100% {
      transform: translateX(20px);
  }
}
  
  .loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 120px;
    height: 90px;
    margin: auto;
  }
  
  .loader:before {
    content: "";
    position: absolute;
    bottom: 30px;
    left: 50px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: #2a9d8f;
    animation: loading-bounce 0.5s ease-in-out infinite alternate;
  }
  
  .loader:after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    height: 7px;
    width: 45px;
    border-radius: 4px;
    box-shadow: 0 5px 0 #f2f2f2, -35px 50px 0 #f2f2f2, -70px 95px 0 #f2f2f2;
    animation: loading-step 1s ease-in-out infinite;
  }
  
  @keyframes loading-bounce {
    0% {
      transform: scale(1, 0.7);
    }
  
    40% {
      transform: scale(0.8, 1.2);
    }
  
    60% {
      transform: scale(1, 1);
    }
  
    100% {
      bottom: 140px;
    }
  }
  
  @keyframes loading-step {
    0% {
      box-shadow: 0 10px 0 rgba(0, 0, 0, 0),
              0 10px 0 #f2f2f2,
              -35px 50px 0 #f2f2f2,
              -70px 90px 0 #f2f2f2;
    }
  
    100% {
      box-shadow: 0 10px 0 #f2f2f2,
              -35px 50px 0 #f2f2f2,
              -70px 90px 0 #f2f2f2,
              -70px 90px 0 rgba(0, 0, 0, 0);
    }
  }


  .logo {
    background-image: url(images/HeightHeroNoBG.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: auto;
    height: 40vh;
    z-index: 1;
  }

